.Nav{
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.links{
    width: 50%;
    display: flex;
    align-items: space-between;
    justify-content: center;
}
  
.links a{
    font-weight: bold;
    color: #ff7d00;
    font-size: calc(0.70em + 1vw);
    width: 33%;
    text-align: center;
    transition: all ease 0.1s;
}
  
.links a:hover{
    transform: scale(1.1);
    
}
  